<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered is-small">
        <p>
            <span class="icon is-large"><a href="https://twitter.com/ClassFabian" class="mysocial" rel="me"><i class="fab fa-twitter fa-2x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://www.youtube.com/" class="mysocial" rel="me"><i class="fab fa-youtube fa-2x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://github.com/faclass" class="mysocial" rel="me"><i class="fab fa-github fa-2x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}} - <a class="mysocial" href="{{ "about" | absURL }}">About</a>
        </p>
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </div>
</footer>
</body>
</html>
