html,body {
    font-family: 'Open Sans', sans-serif;
    background: #F0F2F4;
    position: relative;
    overflow:auto;
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    right: 0px;

    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(0, 0%, 71%) }

.container {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 70px;
}

#over { margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)}
    
